<div class="whitebox">
    
    <h1>You have no bookmarks yet :(</h1>
    
    <p>Once you've saved at least one website, you'll start seeing your bookmarks here immediately
    after logging in, instead of this message.</p>
    
    <h3>Bookmarklet</h3>
    
    <p>The easiest way to add bookmarks to bookmarkly is with our bookmarklet. Drag the bookmarklet
    below into your browser's bookmarks bar, then click it while on any page you want to save.</p>
    
    <p><a class="bookmarklet" href="javascript:location.href='http://bookmarkly.com/bookmarklet/?url=&#39;+encodeURIComponent(window.location.href)+&#39;&amp;title=&#39;+encodeURIComponent(document.title)+&#39;';">Save on Bookmarkly</a></p>

    <p>If you use Google Chrome, you can <a href="https://chrome.google.com/webstore/detail/ppagffeikbmnffejoljnlbbhibodpegm">download this extension</a> to add a bookmarkly button to your browser's toolbar.</p>

    <h3>Manually Add a Bookmark</h3>
    
    <p>Add a bookmark by clicking the <img src="/images/bookmarkbtn.png" class="button" alt="Add a Bookmark" /> button
    at the top of the page.</p>
    
    <h3>Import Your Bookmarks</h3>
    
    <p>You can also import the bookmarks you've already saved in your web browser or another site like
    Delicious. Click the <img src="/images/accountbtn.png" class="button" alt="My Account" /> button to import a
    bookmark file and add all your bookmarks to bookmarkly at once.</p>
    
    <ul>
        <li><a href="http://windows.microsoft.com/en-US/windows-vista/Import-or-export-favorites-in-Internet-Explorer">How to export favorites in Internet Explorer</a></li>
        <li><a href="http://support.mozilla.org/en-US/kb/Exporting%20bookmarks%20to%20an%20HTML%20file">How to export bookmarks from Mozilla Firefox</a></li>
        <li><a href="http://support.google.com/chrome/bin/answer.py?hl=en&answer=96816">How to export bookmarks from Google Chrome</a></li>
        <li><a href="http://export.delicious.com/settings/bookmarks/export">Direct link to export bookmarks from Delicious</a></li>
    </ul>
    
</div>
