<div id="redbar">  
    <div class="wrap">
      
        <ul class="logged-in">
            <li><form id="frm-search"><input type="text" name="search" placeholder="Search bookmarks" class="span3" /></form></li>
            <li><a href="/mytags" id="btn-mytags">my tags</a></li>
            <li><a href="/" id="btn-addbookmark">add a bookmark</a></li>
            <li><a href="/account" id="btn-account">my account</a></li>
            <li><a href="/logout" id="btn-logout">log out</a></li>
        </ul>
        
        <ul class="public">
            <li><a href="/login" id="btn-login">log in</a></li>
        </ul>
        
        <a href="/" id="btn-home"><img src="/images/logo.png" alt="bookmarkly" /></a>
        
    </div>
</div>   