<div class="whitebox">
    
    <div class="right">
        <img src="/images/homeshot.png" alt="visual bookmark organizer" />
    </div>
    
    <div class="left">
        <h1>Your Visual Bookmark Organizer</h1>
        <ul>
            <li>Bookmark a site in two clicks</li>
            <li>Add notes and tags easily</li>
            <li>Quickly search or filter your bookmarks</li>
            <li>Access your bookmarks from any computer</li>            
        </ul>

        <div id="signup-error" style="width: 370px"></div>
        <form id="frm-signup">
        <fieldset>
        <div class="row">
            <div class="span3" style="width: 190px">            
                E-mail Address<br />
                <input type="text" name="email" style="width: 180px" />
                <br /><br />
                Password<br />
                <input type="password" name="password" style="width: 180px" />
            </div>
            <div class="span3" style="width: 180px">
                Username<br />
                <input type="text" name="username" style="width: 180px" />
                <br /><br />
                &nbsp;<br />
                <input type="submit" name="submit" value="create my account" class="btn small success" style="width: 120px" />
            </div>
        </div>
        </fieldset>
        </form>

    </div>
    
</div>

</div>
<div id="login">
    <div class="wrap">
        <div class="inner">
            <form id="frm-login">
            <fieldset>
            <div style="float: left; margin-right: 10px">
                Username<br />
                <input type="text" name="username" style="width: 130px" />
            </div>
            <div style="float: left; margin-right: 10px">
                Password<br />
                <input type="password" name="password" style="width: 130px" />
            </div>
            <div style="float: left">
                &nbsp;<br />
                <input type="submit" name="submit" value="log in" class="btn small success"  style="width: 60px" />
            </div>                    
            </fieldset>
            </form>
            <div id="login-error"></div>
        </div>
    </div>
</div>